$color-base     : #2f2f2f;
$color-inverso  : invert($color-base);
$font-ppal 		: normal normal normal 100% / 140% Fakt Pro Medium, 'Roboto', sans-serif;

$gris           : #f6f6f6;
$azul           : #3c98fc;
$gris-texto     : #c4c4c6;
$verde-mensaje  : #dcf7c8;
$blanco-mensaje : #f9f9f9;
$fecha          : #cfdafc;