@import '_mixins.scss', '_keyframes.scss';

.main {
    width: 100%;
}
.profile {
    padding: 1em;
    background-color: var(--white);
    border-bottom: 1px solid var(--c-border);
    @include flex ( row, nowrap, flex-end, center );
    
    &__column{

        &:nth-of-type(1){
            width: 20%;
            margin: 0 0 0.5em;
        }
        &:nth-of-type(2){ width: 60%; }
        &:nth-of-type(3) { width: 20%; }
    }
    &__img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    &__h2{
        font-weight: 600;
    }
    &__h3 {
        color: var(--c-sec-text);
    }
}
.list {
    margin: 2em 0;

    &__item {
        padding: 0.5em 1em;
        background-color: var(--white);
        border-top: 1px solid var(--c-border);
        @include flex ( row, nowrap, space-between, center );

        &:nth-of-type(2),
        &:nth-of-type(6),
        &:nth-of-type(8) {
            border-bottom: 1px solid var(--c-border);
        }
        &:nth-of-type(2),
        &:nth-of-type(6) {  
            margin: 0 0 2em;
        }

        $colors: (
            1: #ffc527,
            2: #07ada0,
            3: #397aff,
            4: #4bd763,
            5: #ff3b2f,
            6: #4bd763,
            7: #4ba0ff,
            8: #ff2c55,
        );
        @each $number, $color in $colors {
            &:nth-child(#{$number}) .list__icon{
                background-color: $color;
            }
        }
    }
    &__h4 {
        width: calc( 80% - 27px );
        margin: 0 0.5em;
        font-size: 1.1em;
    }
    &__column {
        width: 20%;
        @include flex ( row, nowrap, flex-end, center );
    }
    &__icon {
        width: 27px;
        height: 27px;
        color: var(--white);
        border-radius: 5px;
        @include flex ( row, nowrap, center, center );
    }
    &__number {
        width: 1em;
        height: 1em;
        padding: 0.8em;
        color: var(--white);
        background-color: var(--c-accent);
        border-radius: 50%;
        @include flex( row , nowrap , center , center  );
    }
    &__svg {
        width: 1.3em;
        height: 1.3em;
        color: var(--c-sec-text);
    }
}
.copy {
    text-align: center;

    &__span{
        font-size: 0.8em;
        line-height: 1em;
        color: var(--c-sec-text);
    }
    &__h5{
        line-height: 1em;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: bold;
    }
}