
<app-minicabecera
    [titulo]=" 'Configuración'"
    [editarBtn]= " false "
    [escribirBtn]= " false "
    ></app-minicabecera>

<main class="main">

    <app-usuario
    [seccion]="'configuracion'"></app-usuario>

    <ul class="list">
        <li 
            class="list__item"
            *ngFor="let item of config; index as i">
            <i class="list__icon {{ item.icon }}"></i>
            <h4 class="list__h4">{{ item.h4 }}</h4>
    
            <div class="list__column">
                <div 
                    class="list__number"
                    *ngIf="item.num">{{ item.num }}</div>
                <svg class="list__svg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.5858 6.34317L12 4.92896L19.0711 12L12 19.0711L10.5858 17.6569L16.2427 12L10.5858 6.34317Z"/>
                </svg>
            </div>
        </li>
    </ul>

    <div class="copy">
        <span class="copy__span">from</span>
        <h5 class="copy__h5">Facebook</h5>
    </div>

</main>