@import '_mixins.scss', '_variables.scss';

.profile {
    background-color: var(--white);
    padding: 0.5em 1em;
    @include flex ( row, nowrap, space-around, center );
    
    &__column {
        &:nth-child(1) {
            width: 23%;
            margin: 0 0 0.5em;
        }
        &:nth-child(2) {
            width: 60%;
        }
        &:nth-child(3) {
            width: 20%;
            text-align: end;
        }
    }
    &__circle {
        position: relative;
        width: 68px;
        height: 68px;
        border: 2px solid transparent;
        border-radius: 50%;
        @include flex ( row, nowrap, center, center );

        &.activo {
            border: 2px solid var(--c-accent);
        }
    }
    &__date {
        margin-right: 0.5em;
        color: var(--c-sec-text);

        &--small {
            font-size: 0.8em;
        }
    }
    &__pines {
        @include flex( row, nowrap, flex-end, center );
    }
    &__img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    &__h2 {
        font-size: 1.2em;
        font-weight: bold;
    }
    &__h3,
    &__estado {
        color: var(--c-sec-text);
    }
    &__chat {
        font-size: 0.95em;
        color: var(--c-sec-text);
    }
    &__llamada {
        color: var(--c-sec-text);
        @include flex( row, nowrap, flex-start, center);
    }
    .simple {
        @include flex( row, nowrap, flex-end, center );
    }
    &__icon {
        margin-left: 0.5em;
        padding: 0.6em;
        border-radius: 50%;
        background-color: var(--c-main-bg);
    }
    &__svg {
        width: 1em;
        height: 1em;
        margin-right: 0.5em;

        &--big {
            width: 1.4em;
            height: 1.4em;
            margin: 0;
            color: var(--c-accent);
        }
        &--plus {
            position: absolute;
            bottom: -6%;
            right: -15%;
            padding: 0.3em;
            color: var(--white);
            background-color: var(--c-accent);
            border-radius: 50%;
        }
    }
}