@import 'mixins.scss', 'variables.scss';

.main {
    width: 100%;
    background-color: var(--c-border);
    overflow: hidden;
}
.lista {
    padding: 0.5em 1em;
    background-color: var(--white);
    border-bottom: 1px solid var(--c-border);
    @include flex ( row, nowrap, space-between, center );
    &__span {
        color: var(--c-accent);
    }
}
.profile {
    padding: 1em;
    background-color: var(--white);
    border-bottom: 1px solid var(--c-border);
    @include flex ( row, nowrap, space-around, center );
    
    &__column {

        &:nth-of-type(1){width: 20%; }
        &:nth-of-type(2){ width: 60%; }
        &:nth-of-type(3) { 
            width: 20%;
            text-align: end;
            @include flex ( row, nowrap, flex-end, center );
        }
    }
    &__img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    &__h2 {
        font-weight: 1.4em;
    }
    &__h3 {
        color: var(--c-sec-text);
    }
}