@import 'mixins.scss', 'keyframes.scss', 'variables.scss';

.header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2.5em 1em 1em;
    background-color: $gris;
    border-bottom: 1px solid lightgrey;
    @include flexible ( row, nowrap, space-between, center, initial );

    &__span{
        color: $azul;
        font-weight: 600; // añadido
    }
    &__h2{
        width: 50%;
        margin: auto;
        text-align: center;
        font-weight: 600;
    }
    &__i {
        color: $azul;
        font-size: 1.3em;

        &:last-child {    
            margin-left: 1em;
        }
    }
}
