:root{
    --black       : #000;        
    --white       : #fff;           
    --text        : #2f2f2f;

    --c-main-bg   : #efeff4;
    --c-header    : #f6f6f6;
    --c-main-text : #3d3d5c;
    --c-sec-text  : #808080;
    --c-accent    : #007cff;
    --c-outgoing  : #dcf7c8;
    --c-incoming  : #f9f9f9;
    --c-notif     : #ff0000;
    --c-border    : #d3d3d3;
    --c-date      : #cfdafc;


    /* ------------- Fonts ------------- */
    --ff-main     : 'Roboto', sans-serif;
}