@import '_variables.scss';

.main {
    margin: 1.5em 0 3.5em;

    &__h2 {
        padding: 0.5em 1em;
        color: var(--c-sec-text);
        text-transform: uppercase;
        border-bottom: 1px solid var(--c-border);
    }
}