@import '_mixins.scss', '_keyframes.scss', '_variables.scss';

.conversacion {
    height: 100%;
    background: url("/assets/chat-fondo.jpg") center / cover repeat-y;
    padding: 1em;
    @include flex ( column, nowrap, flex-start, baseline );

    &__fecha {
        padding: 0.2em 0.7em;
        background-color: var(--c-date);
        align-self: center;
        border-radius: 10px;
    }
    &__mensaje {
        min-width: 200px;
        max-width: 85%;
        margin: 1em 0;
        padding: 0.7em;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        position: relative;
        
        &.outgoing {
            background-color: var(--c-outgoing);
            align-self: flex-end;
            text-align: end;
        }
        &.incoming {
            background-color: var(--c-incoming);
        }
    }
    &__hora {
        align-self: flex-end;
        color: var(--c-sec-text);
        font-size: 0.8em;
    }
    .escribiendo {
        padding: 0.5em 1em;
        background-color: var(--c-border);
        opacity: 0;
        align-self: center;
        border-radius: 20px;
        @include flex ( row, nowrap, center, center );
        
        &.ver {
            opacity: 1;
            transition: opacity 0.5s ease;
        }
        &__puntos {
            width: 10px;
            height: 10px;
            margin: 0 0.3em;
            background-color: var(--c-sec-text);
            border-radius: 50%;
            animation: dot-animation 1s ease infinite both;

            @for $i from 1 to 4 {
                &:nth-of-type(#{$i}){
                    animation-delay: $i * 0.3s;
                }
            }
        }
    }
}
.mensajes {
    position: absolute;
    bottom: 10%;
    width: 100%;
    padding: 0.7em;
    background-color: var(--c-header);
    @include flex ( row, nowrap, space-between, center );

    &__input {
        width: calc(85% - 2em);
        padding: 0.5em 1em;
        border-radius: 20px;
        border: 1px solid var(--c-border);
    }
    &__btn {
        background-color: transparent;
        color: var(--c-accent);
        @include flex ( row, nowrap, center, center );
    }
    &__svg {
        width: 1.8em;
        height: 1.8em;
        padding: 0em 0.5em;

        &:last-child {
            padding: 0;
        }
    }
}
.recibidos {
    bottom: 23%;
}