
<app-minicabecera
[titulo]=" 'Cámara'"
></app-minicabecera>

<main class="main">

<!-- 
    // Stream video via webcam
    <div class="video-wrap">
        <video id="video" playsinline autoplay></video>
    </div>

    // Trigger canvas web API
    <div class="controller">
        <button id="snap">Capture</button>
    </div>

    // Webcam video snapshot
    <canvas id="canvas" width="640" height="480"></canvas> -->



    <i class="main__icono foto far fa-images"></i>
    <i class="main__arrow fas fa-angle-up"></i>
    <div class="main__circulo"></div>
    <i class="main__icono camera fas fa-camera"></i>
</main>
