
<header class="header">
    <ul class="header__ul">
      <li 
        class="header__li"
        *ngFor="let item of cabecera; index as i">
          <a 
            class="header__a" 
            [ngClass]="{ 'active' : esActivo ( item.ruta )}"
            (click)=" viajar( item.ruta ) ">
            <i class="header__i {{ item.clase }}"></i>
            <span class="header__span">{{ item.span }}</span>
            <div *ngIf="item.num" class="header__num">{{item.num}}</div>
          </a>
      </li>
    </ul>
</header>
