@import '_mixins.scss', '_variables.scss';

.header {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 80px;
    padding: 1em 0;
    background-color: var(--c-header);
    border-top: 1px solid var(--c-border);
    color: var(--black);
    
    &__ul {
        @include flex ( row, nowrap, space-around, center ); 
    }
    &__li {
        position: relative;
    }
    &__a {
        @include flex ( column, nowrap, center, center );
    }
    &__i {
        margin: 0 0 0.2em;
        font-size: 1.4em;
        color: var(--c-sec-text);
    }
    &__span {
        font-size: 0.8em;
        color: var(--c-sec-text);
    }
    &__num {
        position: absolute;
        top: calc(5% - 10px);
        right: calc(-3% - 10px);
        width: 20px;
        height: 20px;
        font-size: 0.75em;
        color: var(--white);
        background-color: var(--c-notif);
        border-radius: 50%;
        @include flex( row , nowrap , center , center  );
    }
    .active .header__i, 
    .active .header__span {
        color: var(--c-accent);
    }
}